<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.impact">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="Goonj EI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".address"></activity>
        <activity android:name=".contri" />
        <activity android:name=".calc" />
        <activity android:name=".register" />
        <activity android:name=".adminlogin" />
        <activity android:name=".show_impact" />
        <activity android:name=".view_data" />
        <activity android:name=".insert_data" />
        <activity android:name=".materials" />
        <activity android:name=".aboutus" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.paea.bcp.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>